{% extends "onestop/onestop_layout.html" %}
<!-- {% load static %} -->
{% block welcome %}
<h1>Welcome to One Stop</h1>
<h2>Your one stop hub for all thing Oshiwambo</h2>
{% endblock %}

{% block left %}{% endblock %}
{% block centre %}{% endblock %}
{% block right %}{% endblock %}

{% block one %}
<div class="container">
  <!-- <hr>
  <div class="row row-cols-2">
    <div class="col columns">
      Latest Blog Posts
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia laudantium possimus. Officia
        esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt quos
        blanditiis deleniti?</p>
      <img src="{% static 'dictionary/images/logo_festus_the_writer.png' %}" alt="" width=300 height="300">
    </div>
    <div class="col columns">
      Latest Publications
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia laudantium possimus. Officia
        esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt quos
        blanditiis deleniti?</p>
    </div>
    <div class="col columns">
      Editing Services
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia laudantium possimus. Officia
        esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt quos
        blanditiis deleniti?</p>
    </div>
    <div class="col columns">
      Latest Updates from Events
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia laudantium possimus. Officia
        esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt quos
        blanditiis deleniti?</p>
    </div>
  </div>
  <hr>
</div> -->

  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <div class="card border-primary mt-2 mb-2">
        <div class="card-header">Latest Blog Posts</div>
        <img src="" class="card-img-top" alt="Post Image">
        <div class="card-body">
          <h2 class="card-title">Post Title</h2>
          <p class="card-text text-muted h6">Post author | created on</p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia
            laudantium possimus. Officia
            esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt
            quos
            blanditiis deleniti?</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-warning mt-2 mb-2">
        <div class="card-header">Latest Publications</div>
        <img src="" class="card-img-top" alt="Publication Image">
        <div class="card-body">
          <h2 class="card-title">Publications title</h2>
          <p class="card-text text-muted h6">Publication Author | created on</p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia
            laudantium possimus. Officia
            esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt
            quos
            blanditiis deleniti?</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-danger mt-2 mb-2">
        <div class="card-header">Editing Services</div>
        <img src="" class="card-img-top" alt="Service Image">
        <div class="card-body">
          <h2 class="card-title">Services offer</h2>
          <p class="card-text text-muted h6">{Valid until </p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia
            laudantium possimus. Officia
            esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt
            quos
            blanditiis deleniti?</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-info mt-2 mb-2">
        <div class="card-header">Latest Updates from Events</div>
        <img src="" class="card-img-top" alt="Event Image">
        <div class="card-body">
          <h2 class="card-title">Event title</h2>
          <p class="card-text text-muted h6">Event author | created on</p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia
            laudantium possimus. Officia
            esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt
            quos
            blanditiis deleniti?</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}