{% extends "base.html" %}
<!-- {% load static %} -->
{% block welcome %}
<h1>Welcome to Oshinglish Online</h1>
<h2>Your bi-lingual site of knowledge transfer</h2>
{% endblock %}

{% block content%}
<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <div class="card border-primary mt-2 mb-2">
        <div class="card-header">Latest Blog Posts</div>
        <img src="" class="card-img-top" alt="Post Image">
        <div class="card-body">
          <h2 class="card-title">Post Title</h2>
          <p class="card-text text-muted h6">Post author | created on</p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia
            laudantium possimus. Officia
            esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt
            quos
            blanditiis deleniti?</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-warning mt-2 mb-2">
        <div class="card-header">Latest Publications</div>
        <img src="" class="card-img-top" alt="Publication Image">
        <div class="card-body">
          <h2 class="card-title">Publications title</h2>
          <p class="card-text text-muted h6">Publication Author | created on</p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia
            laudantium possimus. Officia
            esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt
            quos
            blanditiis deleniti?</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-danger mt-2 mb-2">
        <div class="card-header">Editing Services</div>
        <img src="" class="card-img-top" alt="Service Image">
        <div class="card-body">
          <h2 class="card-title">Services offer</h2>
          <p class="card-text text-muted h6">{Valid until </p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia
            laudantium possimus. Officia
            esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt
            quos
            blanditiis deleniti?</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-info mt-2 mb-2">
        <div class="card-header">Latest Updates from Events</div>
        <img src="" class="card-img-top" alt="Event Image">
        <div class="card-body">
          <h2 class="card-title">Event title</h2>
          <p class="card-text text-muted h6">Event author | created on</p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia
            laudantium possimus. Officia
            esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt
            quos
            blanditiis deleniti?</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}