{% extends "base.html" %}

{% block content %}
<br>
    <p><b>WHAT IS THIS PRIVACY POLICY FOR?</b></p>
    <p>This privacy policy is for <a href="{% url 'index' %}">Oshinglish online</a>  and governs the privacy of
        its users who choose to use it.</p>
    <p>The policy sets out the different areas where user privacy is concerned and outlines the obligations &amp;
        requirements of the users, the website and website owner. Furthermore the way this website processes, stores and
        protects user data and information will also be detailed within this policy.</p>
    <p><strong>THE WEBSITE</strong></p>
    <p>The website devoloper takes a proactive approach to user privacy and ensure the necessary steps are
        taken to protect the privacy of its users throughout their visiting experience.</p>
    <p><b>USE OF COOKIES</b></p>
    <p>This website uses cookies to better the users experience while visiting the website. Where applicable this
        website uses a cookie control system allowing the user on their first visit to the website to allow or disallow
        the use of cookies on their computer / device.</p>
    <p>Cookies are small files saved to the user’s computers hard drive that track, save and store information about the
        user’s interactions and usage of the website. This allows the website, through its server to provide the users
        with a tailored experience within this website. Users are advised that if they wish to deny the use and saving
        of cookies from this website on to their computers hard drive they should take necessary steps within their web
        browsers security settings to block all cookies from this website and its external serving vendors.</p>
    <!-- <p><strong>Google Analytics</strong></p>
    <p>This website uses tracking software to monitor its visitors to better understand how they use it. This software
        is provided by Google Analytics which uses cookies to track visitor usage. The software will save a cookie to
        your computers hard drive in order to track and monitor your engagement and usage of the website, but will not
        store, save or collect personal information. You can read <a href="http://www.google.com/privacy.html">Google’s
            privacy policy</a> here for further information.</p> -->
    <p>Other cookies may be stored to your computers hard drive by external vendors when this website uses referral
        programs, sponsored links or adverts. Such cookies are used for conversion and referral tracking and typically
        expire after 30 days, though some may take longer. No personal information is stored, saved or collected.</p>
    <p><b>CONTACT AND COMMUNICATION</b></p>
    <p>Users contacting mthis website do so at their own discretion and provide any such personal details
        requested at their own risk. Your personal information is kept private and stored securely until a time it is no
        longer required or has no use. Every effort has been made to ensure a safe and secure form to email submission
        process but advise users using such submission that they do so at their own risk.</p>
    <p>Any information submitted is used to provide you with further information about posts, products / services offered
        or to assist you in answering any questions or queries you may have submitted. This includes using your details
        to subscribe you to any email newsletter program the website operates but only if this was made clear to you and
        your express permission was granted when submitting any form to email process. Your details are not passed on to any third parties.</p>
    <p><b>MAILING LIST</b></p>
    <p>This website operates a mailing list program, used to inform subscribers about posts, products and services
        supplied by this website. Users can subscribe through an online automated process should they wish to do so but
        do so at their own discretion.</p>
    <p>Email marketing campaigns published on this website may contain tracking facilities within the actual email.
        Subscriber activity is tracked and stored in a database for future analysis and evaluation. Such tracked
        activity may include; the opening of emails, forwarding of emails, the clicking of links within the email
        content, times, dates and frequency of activity. This information is used to refine future email campaigns and
        supply the user with more relevant content based around their activity.</p>
    <p>Subscribers are given the opportunity to un-subscribe at any time through an automated system. This process is
        detailed at the footer of each email campaign. If an automated un-subscription system is unavailable clear
        instructions on how to un-subscribe will by detailed instead.</p>
    <p><b>EXTERNAL LINKS</b></p>
    <p>Effort is made to only include quality, safe and relevant external links; however, users are advised to adopt a policy of
        caution before clicking any external web links mentioned throughout this website. (External links are clickable
        text / banner / image links to other websites.)</p>
    <p>The developer guarantee or verify the contents of any externally linked website despite best efforts. Users should
        therefore note they click on external links at their own risk and the developer cannot be held liable for any damages or
        implications caused by visiting any external links mentioned.</p>
    <p><b>ADVERTS AND SPONSERED LINKS</b></p>
    <p>This website may contain sponsored links and adverts. These will typically be served through advertising
        partners, to whom may have detailed privacy policies relating directly to the adverts they serve.</p>
    <p>Clicking on any such adverts will send you to the advertisers website through a referral program which may use
        cookies and will track the number of referrals sent from this website. This may include the use of cookies which
        may in turn be saved on your computers hard drive. Users should therefore note they click on sponsored external
        links at their own risk and the developer cannot be held liable for any damages or implications caused by visiting any
        external links mentioned.</p>
    <p><b>SOCIAL MEDIA PLATFORMS</b></p>
    <p>Communication, engagement and actions taken through external social media platforms that this website
        participates on are custom to the terms and conditions as well as the privacy policies held with each social
        media platform.</p>
    <p>Users are advised to use social media platforms wisely and communicate / engage upon them with due care and
        caution in regard to their own privacy and personal details. This website will never ask for personal or sensitive
        information through social media platforms, and users wishing to discuss sensitive details are encouraged to
        contact the developer/admin through primary communication channels such as by telephone or email.</p>
    <p>This website may use social sharing buttons which help share web content directly from web pages to the social
        media platform in question. Users are advised before using such social sharing buttons that they do so at their
        own discretion and note that the social media platform may track and save your request to share a web page
        respectively through your social media platform account.</p>
    <p><strong>AGE OF CONSENT</strong></p>
    <p>By using this site, you represent that you are at least the age of majority in your state or province of
        residence, and you have given your consent to allow any of your minor dependents to use this site.</p>
    <p><strong>CHANGES TO THIS PRIVACY POLICY</strong></p>
    <p>The developer reserves the right to modify this privacy policy at any time, so please review it frequently. Changes and
        clarifications will take effect immediately upon their posting on the website. If material changes are made to
        this policy, you will be notified here that it has been updated, so that you are aware of what information the website
        collects, how it's used, and under what circumstances, if any, it's used and/or disclosed.</p>
    <p><strong>QUESTIONS AND CONTACT INFORMATION</strong></p>
    <p>If you would like to: access, correct, amend or delete any personal information this website hold about you, register a
        complaint, or simply want more information, send an email to admin@oshinglish.com.</p>
{% endblock %}