{% extends "base.html" %}

{% block content %}
<h1 class="title">Data Privacy Notice for Vendors</h1>
<div class="content">
    <p><strong>Your personal data – what is it?</strong></p>

    <p>Personal data relates to a living individual who can be identified from that data. Identification can be by the
        information alone or in conjunction with any other information in the data controller’s possession or which is
        likely to come into such possession. The processing of personal data of European citizens or residents (“EU
        Personal Data”) is governed by the EU General Data Protection Regulation (referred to herein as the “GDPR”).</p>

    <p><strong>Who are we?</strong></p>

    <p>TransPerfect Global, Inc., TransPerfect Translations International Inc., Translations.com and all of their
        affiliated and subsidiary entities (collectively, “TransPerfect”, “we”, “us” or “our”) are a “data controller”
        of your personal information. This means that TransPerfect has control of your personal information and may
        utilize it for various purposes, including sending your information to “data processors” we work with.&nbsp;</p>

    <p>TransPerfect is also a “data processor” of personal data provided to us by our clients. This means that if our
        clients send us personal data, the client is the data controller that determines how the personal data is
        processed. TransPerfect, as the data processor, can only process such personal data as directed by our clients.
    </p>

    <p>As a vendor for TransPerfect, you are considered to be a “sub-processor.” That means that you can only process
        personal data pursuant to instructions provided to you by TransPerfect. More specifically, as a data
        sub-processor, before working on any project involving the personal data of European citizens, you must first
        sign the <em>Processor and Sub-Processor Data Protection Agreement Pursuant to Article 28 of the General Data
            Protection Regulation</em>, which has been separately supplied to you by TransPerfect.</p>

    <p><strong>How do we process your personal data?</strong></p>

    <p>TransPerfect complies with its obligations under relevant data privacy laws, including the GDPR, by keeping
        personal data up to date; by storing and destroying it securely; by not collecting or retaining excessive
        amounts of data; by protecting personal data from loss, misuse, unauthorized access and disclosure and by
        ensuring that appropriate technical measures are in place to protect personal data.&nbsp;</p>

    <p>The personal data that you provide (or have previously provided) to TransPerfect is stored in TransPerfect’s data
        center in the United States for the purposes of vetting and onboarding you on new projects, as well as ensuring
        timely payment for services rendered.
        <br>&nbsp;&nbsp;</p>

    <p><strong>Why are we collecting your personal data?</strong></p>

    <p>We use your personal data for the following purposes:</p>

    <ul>
        <li>To maintain a database of individuals who may provide consulting or other business support services to us,
            including to our clients and, in some cases, our client’s clients</li>
        <li>To inform you of opportunities, events and activities we are undertaking that may be relevant to your role
            for our company</li>
        <li>To manage our consultants and vendors</li>
        <li>To maintain our own accounts and records</li>
        <li>To transmit such data directly to another data controller, to a client of TransPerfect or to a client of a
            TransPerfect client in connection with services you may render to any such parties &nbsp;
            <br>&nbsp;&nbsp;</li>
    </ul>

    <p><strong>What is the legal basis for processing your personal data?&nbsp;</strong></p>

    <p>We are processing your personal information under several legal bases, including because it is:</p>

    <ul>
        <li>necessary for compliance with our legal obligations (e.g., complying with our obligations under employment,
            social security or social protection law, or a collective agreement)</li>
        <li>necessary for the performance of a contract with you (e.g., to satisfy our payment obligations to you) or to
            take steps to enter into a contract with you</li>
        <li>necessary for our legitimate business interests (e.g., engaging vendors to execute projects for our clients)
        </li>
        <li>necessary for the establishment, exercise or defense of legal claims</li>
    </ul>

    <p>You are obligated to provide your personal data in order to be on-boarded as a potential vendor to TransPerfect
        and the failure to provide such data may result in your failure to be considered for future business
        relationships with TransPerfect.</p>

    <p>By affirmatively acknowledging your consent on the Adobe Sign portal to this Data Privacy Notice, you are
        agreeing that TransPerfect may treat your personal data in a manner consistent with this Data Privacy Notice.
    </p>

    <p><strong>Sharing your personal data</strong></p>

    <p>Your personal data will be treated as strictly confidential and will be shared only internally among TransPerfect
        employees and, in certain limited circumstances, with third parties for whom you may be directly or indirectly
        performing services, or to satisfy our payment obligations to you.</p>

    <p><strong>How long do we keep your personal data?</strong></p>

    <p>We will keep your personal data for no longer than reasonably necessary for our ongoing business relationship and
        for record keeping purposes and in case of any legal claims or complaints. &nbsp;</p>

    <p><strong>Your rights and your personal data</strong></p>

    <p>If you are an EU or United Kingdom citizen or resident, your rights under the GDPR include the following (unless
        subject to an exemption):</p>

    <ul>
        <li>The right to request a copy of your personal data which TransPerfect holds about you</li>
        <li>The right to request that TransPerfect corrects any personal data if it is found to be inaccurate or out of
            date</li>
        <li>The right to request your personal data is erased where it is no longer necessary for TransPerfect to retain
            such data</li>
        <li>The right to withdraw your consent to the processing at any time</li>
        <li>The right to request that TransPerfect provide you, as the data subject, with your personal data and where
            possible, to transmit that data directly to another data controller</li>
        <li>The right, where there is a dispute in relation to the accuracy or processing of your personal data, to
            request a restriction is placed on further processing</li>
        <li>The right to lodge a complaint with governmental agencies or Data Protection Authorities as provided for in
            the GDPR.
            <br>&nbsp;&nbsp;</li>
    </ul>

    <p><strong>Transfer of Data Abroad</strong></p>

    <p>Your personal data will be stored in TransPerfect’s data center in the United States for the purposes of vetting
        and onboarding you for new projects, as well as ensuring timely payment for services rendered.</p>

    <p>&nbsp;</p>

    <p>By affirmatively acknowledging your consent on the Adobe Sign portal to this Data Privacy Notice and all
        documents referenced herein, you are agreeing that your personal data will be stored in the United States.</p>

    <p>&nbsp;</p>

    <p><strong>Further processing</strong></p>

    <p>If we wish to use your personal data for a new purpose not covered by this Data Protection Notice, we will
        provide you with a new notice explaining this new use prior to commencing the processing and setting out the
        relevant purposes and processing conditions. Where and whenever necessary, we will seek your prior consent to
        the new processing.
        <br>&nbsp;&nbsp;</p>

    <p><strong>Contact Details</strong></p>

    <p>To exercise all relevant rights, queries or complaints, please contact:</p>

    <p>Stacey Watanabe<br>
        Data Privacy Officer<br>
        TransPerfect<br>
        Europe: +48 (22) 104 2990<br>
        US/Global: +1 646.589.6769<br>
        <a href="mailto:privacy@transperfect.com">privacy@transperfect.com</a>&nbsp;</p>

    <p><strong>Consent</strong></p>

    <p>By affirmatively acknowledging your consent on the Adobe Sign portal to this Data Privacy Notice and all
        documents referenced herein, you are confirming that you have read this Data Privacy Notice and that you are
        consenting to TransPerfect holding and processing your personal data for the purposes set forth herein. Where
        you do not grant consent we may not be able to use your personal data and you may not be considered for
        retention by TransPerfect.</p>

    <p>To opt out of receiving communication and project opportunities please visit TransPerfect’s&nbsp;<a
            href="https://www.transperfect.com/data_subject_opt_out_request/form">Opt-Out Portal</a>.</p>

    <p>To exercise your rights to data rectification, erasure, portability, access and/or restricted processing, please
        email&nbsp;<a href="mailto:privacyrequests@transperfect.com">privacy@transperfect.com</a>.</p>

    <p>&nbsp;</p>
</div>
{% endblock %}