{% extends "base.html" %}

{% block content %}
<br>
<p>TERMS OF SERVICE</p>
<p><strong>OVERVIEW</strong></p>
<p>This website is operated by Festus Abiatar. Throughout the site, the terms “I”, “me”, "the developer", or “my” refer to Festus Abiatar.
    Festus Abiatar offers this website, including all information, tools and services available from this site to you,
    the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.</p>
<p>By visiting my site and/ or registering to be a contributor, you engage in my “Service” and agree to be bound by the
    following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and
    policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site,
    including without limitation users who are browsers, and/ or contributors of content.
</p>
<p>Please read these Terms of Service carefully before accessing or using this website. By accessing or using any part of
    the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of
    this agreement, then you may not access the website or use any services. If these Terms of Service are considered an
    offer, acceptance is expressly limited to these Terms of Service.</p>
<p>Any new features or tools which are added to the website shall also be subject to the Terms of Service. You can
    review the most current version of the Terms of Service at any time on this page. I reserve the right to update,
    change or replace any part of these Terms of Service by posting updates and/or changes to my website. It is your
    responsibility to check this page periodically for changes. Your continued use of or access to the website following
    the posting of any changes constitutes acceptance of those changes.</p>
<p><strong>SECTION 1 &#8211; GENERAL CONDITIONS</strong></p>
<p>By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or
    province of residence, or that you are the age of majority in your state or province of residence and you have given
    me your consent to allow any of your minor dependents to use this site.</p>
<p>You may not use my this website or its content for any illegal or unauthorized purpose nor may you, in the use of the Service, violate
    any laws in your jurisdiction (including but not limited to copyright laws).</p>
<p>You must not transmit any worms or viruses or any code of a destructive nature.</p>
<p>A breach or violation of any of the Terms will result in an immediate termination of your Services.</p>
<p>I reserve the right to refuse service to anyone for any reason at any time.</p>
<p>You understand that your content, may be transferred unencrypted and involve
    (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of
    connecting networks or devices.</p>
<p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service,
    or access to the Service or any contact on the website through which the service is provided, without express
    written permission by me.</p>
<p>The headings used in this agreement are included for convenience only and will not limit or otherwise affect these
    Terms.</p>
<p><strong>SECTION 2 &#8211; ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION</strong></p>
<p>I am not responsible if information made available on this site is not accurate, complete or current. The material on
    this site is provided for general information only and should not be relied upon or used as the sole basis for
    making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any
    reliance on the material on this site is at your own risk.</p>
<p>This site may contain certain historical information. Historical information, necessarily, is not current and is
    provided for your reference only. I reserve the right to modify the contents of this site at any time, but I have no
    obligation to update any information on my site. You agree that it is your responsibility to monitor changes to my
    site.</p>
<p><strong>SECTION 3 &#8211; OPTIONAL TOOLS</strong></p>
<p>I may provide you with access to third-party tools over which I neither monitor nor have any control nor input.</p>
<p>You acknowledge and agree that I provide access to such tools "as is” and “as available” without any warranties,
    representations or conditions of any kind and without any endorsement. I shall have no liability whatsoever arising
    from or relating to your use of optional third-party tools.</p>
<p>Any use by you of optional tools offered through the site is entirely at your own risk and discretion and you should
    ensure that you are familiar with and approve of the terms on which tools are provided by the relevant third-party
    provider(s).</p>
<p>I may also, in the future, offer new services and/or features through the website (including, the release of new
    tools and resources). Such new features and/or services shall also be subject to these Terms of Service.</p>
<p><strong>SECTION 4 &#8211; THIRD-PARTY LINKS</strong></p>
<p>Certain content, products and services available via my Service may include materials from third-parties.</p>
<p>Third-party links on this site may direct you to third-party websites that are not affiliated with me. I am not
    responsible for examining or evaluating the content or accuracy and I do not warrant and will not have any liability
    or responsibility for any third-party materials or websites, or for any other materials, products, or services of
    third-parties.</p>
<p>I am not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any
    other transactions made in connection with any third-party websites. Please review carefully the third-party&#8217;s
    policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims,
    concerns, or questions regarding third-party products should be directed to the third-party.</p>
<p><strong>SECTION 5 &#8211; USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS</strong></p>
<p>If, at my request, you send certain specific submissions (for example contest entries) or without a request from me
    you send content, creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by postal
    mail, or otherwise (collectively, &#8216;comments&#8217;), you agree that I may, at any time, without restriction,
    edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to me. I am
    not and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any
    comments; or (3) to respond to any comments.</p>
<p>I may, but have no obligation to, monitor, edit or remove content that I determine in my sole discretion are
    unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates
    any party’s intellectual property or these Terms of Service.</p>
<p>You agree that your comments will not violate any right of any third-party, including copyright, trademark, privacy,
    personality or other personal or proprietary right. You further agree that your comments will not contain libelous
    or otherwise unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any
    way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to
    be someone other than yourself, or otherwise mislead me or third-parties as to the origin of any comments. You are
    solely responsible for any comments you make and their accuracy. I take no responsibility and assume no liability
    for any comments posted by you or any third-party.</p>
<p><strong>SECTION 6 &#8211; PERSONAL INFORMATION</strong></p>
<p>Your submission of personal information through registration as user or any other interaction with the website is governed by my <a
        href="{% url 'privacy-policy' %}">Privacy Policy</a>.</p>
<p><strong>SECTION 7 &#8211; ERRORS, INACCURACIES AND OMISSIONS</strong></p>
<p>Occasionally there may be information on my site or in the Service that contains typographical errors, inaccuracies
    or omissions in the content of this website.</p>
<p>I undertake no obligation to update, amend or clarify information in the content of the website, except as required by law.</p>
<p><strong>SECTION 8 &#8211; PROHIBITED USES</strong></p>
<p>In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its
    content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to
    violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to
    infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to
    harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual
    orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading
    information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any
    way that will affect the functionality or operation of the Service or of any related website, other websites, or the
    Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider,
    crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security
    features of the Service or any related website, other websites, or the Internet. I reserve the right to terminate
    your use of the Service or any related website for violating any of the prohibited uses.</p>
<p><strong>SECTION 9 &#8211; DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY</strong></p>
<p>I do not guarantee, represent or warrant that your use of my service will be uninterrupted, timely, secure or
    error-free.</p>
<p>I do not warrant that the results that may be obtained from the use of the service will be accurate or reliable.</p>
<p>You agree that from time to time I may remove the service for indefinite periods of time or cancel the service at any
    time, without notice to you.</p>
<p>You expressly agree that your use of, or inability to use, the service is at your sole risk. The service and all
    products and services delivered to you through the service are (except as expressly stated by me) provided &#8216;as
    is&#8217; and &#8216;as available&#8217; for your use, without any representation, warranties or conditions of any
    kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable
    quality, fitness for a particular purpose, durability, title, and non-infringement.</p>
<p>In no case shall Festus Abiatar, my affiliates, agents, contributors, service providers or licensors be liable for any
    injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind,
    including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any
    similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from
    your use of any of this website or its services, including, but not limited to, any errors or omissions in any content, or
    any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted,
    transmitted, or otherwise made available via the service, even if advised of their possibility.</p>
<p><strong>SECTION 10 &#8211; INDEMNIFICATION</strong></p>
<p>You agree to indemnify, defend and hold harmless Festus Abiatar and my affiliates, agents, service
    providers, contributors, harmless from any claim or demand, including reasonable attorneys’ fees, made by any
    third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by
    reference, or your violation of any law or the rights of a third-party.</p>
<p><strong>SECTION 11 &#8211; SEVERABILITY</strong></p>
<p>In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such
    provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable
    portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity
    and enforceability of any other remaining provisions.</p>
<p><strong>SECTION 12 &#8211; TERMINATION</strong></p>
<p>The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination
    of this agreement for all purposes.</p>
<p>These Terms of Service are effective unless and until terminated by either you or me. You may terminate these Terms
    of Service at any time by notifying us that you no longer wish to use my Services, or when you cease using my site.
</p>
<p>If in my sole judgment you fail, or I suspect that you have failed, to comply with any term or provision of these
    Terms of Service, I also may terminate this agreement at any time without notice and/or accordingly may deny you access to my Services (or
    any part thereof).</p>
<p><strong>SECTION 13 &#8211; ENTIRE AGREEMENT</strong></p>
<p>The failure of me to exercise or enforce any right or provision of these Terms of Service shall not constitute a
    waiver of such right or provision.</p>
<p>These Terms of Service and any policies or operating rules posted by me on this site or in respect to The Service
    constitutes the entire agreement and understanding between you and me and govern your use of the Service,
    superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between
    you and me (including, but not limited to, any prior versions of the Terms of Service).</p>
<p>Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.
</p>
<p><strong>SECTION 14 &#8211; GOVERNING LAW</strong></p>
<p>These Terms of Service and any separate agreements whereby I provide you Services shall be governed by and construed
    in accordance with the laws of Namibia.</p>
<p><strong>SECTION 15 &#8211; CHANGES TO TERMS OF SERVICE</strong></p>
<p>You can review the most current version of the Terms of Service at any time at this page.</p>
<p>I reserve the right, at my sole discretion, to update, change or replace any part of these Terms of Service by
    posting updates and changes to my website. It is your responsibility to check my website periodically for changes.
    Your continued use of or access to our website or the Service following the posting of any changes to these Terms of
    Service constitutes acceptance of those changes.</p>
<p><strong>SECTION 16 &#8211; CONTACT INFORMATION</strong></p>
<p>Questions about the Terms of Service should be sent to me at admin@oshinglish.com.</p>
{% endblock %}