{% extends "onestop/base.html" %}
{% block content%}
<div class="row">
    <div class="col-md-6">
        <h2>Register</h2>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                    {% if field.errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LdhyRQbAAAAAJ2q5Eh85rGRxTaLuRL24vtmrBiQ"></div>
                <input class="btn btn-outline-primary mb-3 mt-3" type="submit" value="Register">
            </form>
        </div>
        <a href="{% url 'login' %}">Back to login</a>
    </div>
</div>
{% endblock %}