{% extends "blog/post_list.html" %}
{% block welcome %}
<h1>You're at OneStop Blogs: Categories</h1>
<h2>Add a new post category below. <a href="{% url 'help' %}"> Read the blog guidelines here.</a></h2>
<hr>
<br>
{% endblock %}

{% block centre %}
<h5>{{ operation }}</h5>
<br>
<form action="" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="fieldWrapper">
    {% if field.errors %}
    <div class="alert alert-warning" role="alert">
      {{ field.errors }}
    </div>
    {% endif %}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}
  <input class="btn btn-outline-primary mb-2" type="submit" value="Submit">
</form>
{% endblock %}