{% extends "onestop/onestop_layout.html" %}
{% block secondarynav %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: hsl(128, 38%, 66%);" id='dictionary-nav'>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--<ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'blog:post-list' %}">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:create-post' %}">Add a New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:category-list' %}">View Category List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:create-category' %}">Add a New Category</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block welcome %}
<h1>Welcome to OneStop Blogs</h1>
<h2>Where the community talks all things language, culture, and literature</h2>
<hr>
<br>
{% endblock %}

{% block left %}
<h5><strong>Categories: </strong></h5>
<ul class='view-lists'>
  <li class='english-list'>
    <a class="btn btn-outline-primary btn-sm mb-1" href="#">Category1</a>
  </li>
  <li class='oshidonga-list'>
    <a class="btn btn-outline-primary btn-sm mb-1" href="#">Category2</a>
  </li>
  <li class='idiom-list'>
    <a class="btn btn-outline-primary btn-sm mb-1" href="#">Category3</a>
  </li>
</ul>
{% endblock %}

{% block centre %}
<div class="row row-cols-1 row-cols-md-2">
  {% for post in post_list %}
  <div class="col">
    <div class="card mt-2 mb-2">
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top featured-image" alt="{{ post.title }}">
        {% endif %}
        <p class="card-text">{{post.content | safe | slice:":300" }}</p>
        <!-- use | safe filter in template to prevent html from escaping-->
        <a href="{% url 'blog:post-detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row row-cols-1">
  <div class="col">
    <hr>
    {% if is_paginated %}
    <!-- <nav aria-label="Page navigation conatiner"> -->
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
      {% else %}
      <!-- Fixes the alignment problem by adding another closing div -->
  </div> <!-- a better fix needed -->
  {% endif %}
  </ul>
  <!-- </nav> -->
  {% endif %}
</div>
</div>
{% endblock %}

{% block right %}
<h5><strong>Categories: </strong></h5>
<ul class='view-lists'>
  <li class='english-list'>
    <a class="btn btn-outline-primary btn-sm mb-1" href="#">Category1</a>
  </li>
  <li class='oshidonga-list'>
    <a class="btn btn-outline-primary btn-sm mb-1" href="#">Category2</a>
  </li>
  <li class='idiom-list'>
    <a class="btn btn-outline-primary btn-sm mb-1" href="#">Category3</a>
  </li>
</ul>
{% endblock %}