{% extends "blog/post_list.html" %}
{% load comments %}
{% load comments_xtd %}
{% block welcome %}
<h1>Welcome to Oshinglish Blogs</h1>
<h2>Where the community talks all things language, culture, and literature</h2>
<hr>
<br>
{% endblock %}

{% block centre %}
<div class="card mb-4  mt-3 left  top">
    <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top featured-image" alt="{{ post.title }}">
        {% endif %}
        <p class="card-text ">{{ post.content | safe }}</p>
    </div>
</div>
{% get_comment_count for object as comment_count %}
<div class="py-4 text-center">
    <a href="{% url 'blog:post-list' %}">Back to the post list</a>
    &nbsp;&sdot;&nbsp;
    {{ comment_count }} comment{{ comment_count|pluralize }}
    ha{{ comment_count|pluralize:"s,ve"}} been posted.
</div>
<div class="comment">
    <h4 class="text-center">Your comment</h4>
    <div class="well">
        {% render_comment_form for object %}
    </div>
</div>
{% if comment_count %}
<ul class="media-list">
    {% render_xtdcomment_tree for object %}
</ul>
{% endif %}
{% endblock %}