{% extends "dictionary/search.html" %}
{% block welcome %}
<br>
  <h3>Contribute to the dictionary by adding a new English word or updating an existing one.</h3>
  <br>
  <h4>Not sure how to go about it? <a href='#'>Read the instructions here.</a></h4>
  <hr>
  <br>
{% endblock %}
{% block content %}
<h5>Add or Update English Word</h5>
<br>
<h4>Form will be here</h4>
<br>
<ul class='newly-added-words'>
    <li class='n-added-words-heading'><h6>Newly added words:</h6></li>
    <li class='n-added'><a href='#'>home</a></li>
    <li class='n-added'><a href='#'>science</a></li>
    <li class='n-added'><a href='#'>tradition</a></li>
    <li class='n-added'><a href='#'>love</a></li>
</ul>
{% endblock %}