{% extends "dictionary/search.html" %}
{% block welcome %}
<br>
  <h3>Contribute to the dictionary by adding a new definition or updating an existing one.</h3>
  <br>
  <h4>Not sure how to go about it? <a href='#'>Read the instructions here.</a></h4>
  <hr>
  <br>
{% endblock %}
{% block content %}
<h5>Add or Update Word Definition</h5>
<br>
<h4>Form will be here</h4>
<br>
<ul class='undefined_words'>
    <li class='undefined_heading'><h6>Undefined words:</h6></li>
    <li class='undefined'><a href='#'>building</a></li>
    <li class='undefined'><a href='#'>geology</a></li>
    <li class='undefined'><a href='#'>computer</a></li>
    <li class='undefined'><a href='#'>solar</a></li>
</ul>
{% endblock %}