{% extends "dictionary/search.html" %}
{% block welcome %}
<br>
  <h3>Contribute to the dictionary by adding a new word usage example or updating an existing one.</h3>
  <br>
  <h4>Not sure how to go about it? <a href='#'>Read the instructions here.</a></h4>
  <hr>
  <br>
{% endblock %}
{% block content %}
<h5>Add or Update Word Usage Example</h5>
<br>
<form action="" method="post">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <table>
    <tr>
      <td> <label for="{{ form.definition.id_for_label }}">Definition:</label></td>
      <td>{{ form.definition }}</td>
    </tr>
    <tr>
      <td><label for="{{ form.english_example.id_for_label }}">English example:</label></td>
      <td>{{ form.english_example }}</td>
    </tr>
    <tr>
      <td><label for="{{ form.oshindonga_example.id_for_label }}">Oshindonga example:</label></td>
      <td>{{ form.oshindonga_example }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>  
</form>
<br>
<ul class='undefined-words'>
    <li class='undefined-heading'><h6>Undefined words:</h6></li>
    <li class='undefined'><a href='#'>building</a></li>
    <li class='undefined'><a href='#'>geology</a></li>
    <li class='undefined'><a href='#'>computer</a></li>
    <li class='undefined'><a href='#'>solar</a></li>
</ul>
{% endblock %}