{% extends "dictionary/search.html" %}
{% load static %}
{% block welcome %}
<br>
<h3>Contribute to the dictionary by adding a new word usage example or updating an existing one.</h3>
<br>
<h4>Not sure how to go about it? <a href='#'>Read the instructions here.</a></h4>
<hr>
<br>
{% endblock %}
{% block left %}
<h6>Newly added examples:</h6>
<ul class='newly-added-examples'>
  {% for word in newly_added_examples %}
  <li class='n-added'><a class="btn btn-outline-primary btn-sm mb-1"
      href='{{ word.get_absolute_url }}'>{{ word.definition }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
{% block centre %}
<h5>{{ operation }}</h5>
<br>
<form action="" method="post">
  {% csrf_token %}
  <!-- {{form.errors}}
  {{ form.as_p }} -->
  {% for field in form %}
  <div class="fieldWrapper">
    {% if field.errors %}
    <div class="alert alert-warning" role="alert">
      {{ field.errors }}
    </div>
    {% endif %}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    <!-- Display definition of selected entry -->
    {% if field.name == 'definition' %}
    <div class="alert alert-info" role="alert">
      <p class="help" id='english_definition'></p>
      <p class="help" id='oshindonga_definition'></p>
    </div>
    {% endif %}
  </div>
  {% endfor %}
  <input class="btn btn-outline-primary mb-2" type="submit" value="Submit">
</form>
{% endblock %}

{% block right %}
<h6>Unexemplified definitions:</h6>
<ul class='unexemplified'>
  {% for definition in unexemplified_definitions %}
  <li class='u-exemplified'><a class="btn btn-outline-primary btn-sm mb-1"
      href='{{ definition.get_absolute_url }}'>{{ definition }}</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
<script>
  var definitionsDict = JSON.parse("{{definitions_dict|escapejs}}");
</script>
<script src="{% static 'js/definition_displayer.js' %}"></script>
<script>
  window.onload = displayDefinition; //Calls the displayDefinition when the page re/loads
</script>
{% endblock %}