{% extends "dictionary/search.html" %}
{% block welcome %}
<br>
  <h3>Contribute to the dictionary by adding a new English word or updating an existing one.</h3>
  <br>
  <h4>Not sure how to go about it? <a href='#'>Read the instructions here.</a></h4>
  <hr>
  <br>
{% endblock %}
<br>
{% block centre %}
<h5>{{ operation }}</h5>
<form action="" method="post">
  {% csrf_token %}
  <!-- {{form.errors}}
  {{ form.as_p }} -->
  {% for field in form %}
    <div class="fieldWrapper">
      {% if field.errors %}
        <div class="alert alert-warning" role="alert">
          {{ field.errors }} 
        </div>
      {% endif %}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
  {% endfor %}
  <input class="btn btn-outline-primary" type="submit" value="Submit">
  <!-- <table>
    <tr>
      <td> <label for="{{ form.word.id_for_label }}">Word:</label></td>
      <td>{{ form.word }}</td>
    </tr>
    <tr>
      <td><label for="{{ form.word_case.id_for_label }}">Word case:</label></td>
      <td>{{ form.word_case }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input class="btn btn-outline-primary" type="submit" value="Submit"></td>
    </tr>
  </table>   -->
</form>
{% endblock %}
{% block right %}
<h6>Newly added words:</h6>
<ul class='newly-added-words'>
  {% for word in newly_added_words %}
    <li class='n-added'><a href='#'>{{ word.word }}</a></li>
  {% endfor %}
</ul>
{% endblock %}