<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/onestop/dictionary/static/dictionary/css/onestop.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>One Stop</title>
  </head>
  <body>
<!-- TOP NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4d8dc9;">
      <div class="container-fluid">
        <a href="" class="navbar-brand"></a>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4d8dc9;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/onestop/dictionary/static/dictionary/images/logo_festus_the_writer.png" alt="" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dictionary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Editing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
          </ul>
          <span>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">|</a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </nav>
    {% block content %}
<div class="container">
  <h1>Welcome to One Stop</h1>
  <h2>Your one stop hub for all thing Oshiwambo</h2>
  <hr>
      <div class="row row-cols-2">
        <div class="col">
          Latest Blog Posts
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia laudantium possimus. Officia esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt quos blanditiis deleniti?</p>
          <img src="/onestop/dictionary/static/dictionary/images/logo_festus_the_writer.png" alt="" width=300 height="300">
        </div>
        <div class="col">
          Latest Publications
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia laudantium possimus. Officia esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt quos blanditiis deleniti?</p>
        </div>
        <div class="col">
          Editing Services
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia laudantium possimus. Officia esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt quos blanditiis deleniti?</p>
        </div>
        <div class="col">
          Latest Updates from Events
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia laudantium possimus. Officia esse officiis molestiae? Ad quis repellendus excepturi, dolorem aspernatur sequi et eaque atque nesciunt quos blanditiis deleniti?</p>
        </div>
      </div>
  <hr>
</div>
  {% endblock %} 

    <footer class="mainfooter" role="contentinfo">
      <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Resource</h4>
              <ul class="list-unstyled">
                <li><a href="#"></a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Dictionary</a></li>
                <li><a href="#">Editing</a></li>
                <li><a href="#">Events</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column2-->
            <div class="footer-pad">
              <h4>Useful links</h4>
              <ul class="list-unstyled">
                <li><a href="#">Website Tutorial</a></li>
                <li><a href="#">Disclaimer</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column3-->
            <div class="footer-pad">
              <h4>Support</h4>
              <ul class="list-unstyled">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">FAQs</a></li>
                <li>
                  <a href="#"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <h4>Follow Us</h4>
                <ul class="social-network social-circle">
                 <li><a href="#" class="icoFacebook" title="Facebook"><i class="bi bi-facebook"></i></a></li>
                 <li><a href="#" class="icoTwitter" title="Twitter"><i class="bi bi-twitter"></i></a></li>
                </ul>				
        </div>
        </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2021 - One Stop.  All rights reserved.</p>
        </div>
      </div>
      </div>
      </div>
    </footer> 

  <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>