{% extends "dictionary/search.html" %}
{% block welcome %}
<br>
<h4>Contribute to the dictionary by adding a new Oshindonga word or updating an existing one.</h4>
<br>
<h5>Not sure how to go about it? <a href='#'>Read the instructions here.</a></h5>
<hr>
<br>
{% endblock %}
<br>
{% block mainarea %}
<h5>{{ operation }}</h5>
<form action="" method="post">
  {% csrf_token %}
  <!-- Non-field errors, e.g., UnequeConstraint error -->
  {% if form.non_field_errors %}
  <div class="alert alert-warning" role="alert">
    {{ form.non_field_errors }}
  </div>
  {% endif %}
  {% for field in form %}
  <div class="fieldWrapper">
    <!-- Field errors -->
    {% if field.errors %}
    <div class="alert alert-warning" role="alert">
      {{ field.errors }}
    </div>
    {% endif %}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}
  <input class="btn btn-outline-primary mb-2" type="submit" value="Submit">
</form>
{% endblock %}
{% block rightbar %}
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Newly added words
  </div>
  <ul class="list-group list-group-flush">
    {% for word in newly_added_words %}
    <li class="list-group-item"><a class="btn btn-outline-primary btn-sm mb-1"
        href='{{ word.get_absolute_url }}'>{{ word.word }}</a></li>
    {% endfor %}
  </ul>
</div>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Untranslated English words
  </div>
  <ul class="list-group list-group-flush">
    {% for word in newly_added_words %}
    <li class="list-group-item"><a class="btn btn-outline-primary btn-sm mb-1"
        href='{{ word.get_absolute_url }}'>{{ word }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}