{% extends "base.html" %}
{% block secondarynav %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: hsl(210, 38%, 66%);" id='dictionary-nav'>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDictionary"
      aria-controls="navbarDictionary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDictionary">
      <!--<ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dictionary:search' %}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dictionary:english-create' %}">Add English Words</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dictionary:oshindonga-create' %}">Add Oshindonga Words</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'dictionary:oshindonga-phonetic-create' %}">Add Oshindonga
            Phonetics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dictionary:definition-create' %}">Add Definitions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dictionary:example-create' %}">Add Definition Examples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dictionary:oshindonga-idiom-create' %}">Add Oshindonga Idioms</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block welcome %}
<h1>Oshinglish Dictionary</h1>
<h2>-Built by the community for the community-</h2>

<hr>
<ul class="dict-content">
  <li>
    <h5 class="dict-content-heading">Total Counts:</h5>
  </li>
  <li class="dict-content-item">
    <button type="button" class="btn btn-light">
      English words <span class="badge bg-dark text-light">{{total_english}}</span>
    </button>
  </li>
  <li class="dict-content-item">
    <button type="button" class="btn btn-light">
      Oshindonga words <span class="badge bg-dark text-light">{{total_oshindonga}}</span>
    </button>
  </li>
  <li class="dict-content-item">
    <button type="button" class="btn btn-light">
      Definitions <span class="badge bg-dark text-light">{{total_definitions}}</span>
    </button>
  </li>
  <li class="dict-content-item">
    <button type="button" class="btn btn-light">
      POS Tags <span class="badge bg-dark text-light">{{total_POS_tags}}</span>
    </button>
  </li>
  <li class="dict-content-item">
    <button type="button" class="btn btn-light">
      Examples <span class="badge bg-dark text-light">{{total_examples}}</span>
    </button>
  </li>
  <li class="dict-content-item">
    <button type="button" class="btn btn-light">
      Idioms <span class="badge bg-dark text-light">{{total_idioms}}</span>
    </button>
  </li>
</ul>
<br>
<br>
{% endblock %}

<br>
{% block mainarea %}
<h3>Search for a word</h3>
<form action="{% url 'dictionary:search' %}" method="get">
  <div class="input-group mb-3">
    {{ form.input_language }}
    {{ form.search_word }}
    <input class="btn btn-outline-primary" type="submit" value="Search" id="button-addon2"></input>
  </div>
</form>
<ul id='suggested-searches'>
  <li id='s-search-heading'>
    <h6>Suggested searches:</h6>
  </li>
  {% if suggested_searches %}
  {% for word in suggested_searches %}
  <li class='s-searches'><a class="badge bg-info text-dark"
      href="{% url 'dictionary:search-suggested-word' word.id %}">{{ word }}</a></li>
  {% endfor %}
  {% endif %}
</ul>
<br>
<h4>Search Results:</h4>
<hr>
<div class="row px-2 row-search-results-area">
  <div class="col col-search-results-area" id="s-area">
    {% if searched_word %}
    <div class="row row-def-idiom">
      <div class="col col-def">
        <ol class="search-results-list">
          {% for item in searched_word %}
          <li>{{ item }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="col col-idiom">
        <h6>Iipopiwamayele:</h6>
        {% if idioms %}
        {% for item in idioms %}
        {% for object in item %}
        <p>
          <a class="badge bg-secondary text-light" data-toggle="collapse" href="#idiom{{ object.id }}" role="button"
            aria-expanded="false" aria-controls="idiom{{ object.id }}">
            {{ object }}
          </a>
        </p>
        <div class="collapse" id="idiom{{ object.id }}">
          <div class="card card-body mb-2">
            <p><strong>Oshipopiwamayele: </strong>{{ object.oshindonga_idiom }} </p>
            <p><strong>Efatululo: </strong>{{ object.meaning }} </p>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <!-- <div class="row px-3"> px (padding x, horizontal) for rows and div. gx (gutter x, hor) for colums -->
    <br>
    <h5 class='definition'>Definitions</h5>
    {% else %}
    <p style="color: red;">No search was performed</p>
    {% endif %}
    {% for definition_object in definitions %}
    <div class="row mb-2 row-word-tense-plural">
      <div class="col col-word">
        <h6 class='definition-object'>{{forloop.counter}}. {{ definition_object }}</h6>
      </div>
      <!--forloo.counter is used for numbering-->
      <div class="col col-tense-plural">
        {% if definition_object.part_of_speech in nouns_list %}
        <ul class="plural-list">
          <li><strong>Plurals: </strong></li>
          {% for plural in definition_object.plurals.all %}
          <li>{{ plural }}</li>
          {% endfor %}
        </ul>
        {% elif definition_object.part_of_speech in verbs_list %}
        <ul class="tenses-list">
          <li><strong>Tenses: </strong></li>
          <li>Simple present: <i>{{ definition_object.simple_present }}</i></li>
          <li>Present participle: <i>{{ definition_object.present_participle }}</i></li>
          <li>Simple past: <i>{{ definition_object.simple_past }}</i></li>
          <li>Past participle: <i>{{ definition_object.past_participle }}</i></li>
        </ul>
        {% endif %}
      </div>
      <div class="col col-extras2">
        <ul class="synonym-list">
          <li><strong>Synonyms: </strong></li>
          {% for synonym in definition_object.synonyms.all %}
          <li>{{ synonym }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if definition_object != 'No definition found' %}
    <div class="div-eng-def">
      <p class='definitions-heading'><strong>English definition:</strong></p>
      <div class='row px-3 row-english-def '>
        <div class="col col-eng-def">
          <p>
            >{{ definition_object.english_definition }}
          </p>
        </div>
        {% if user.is_authenticated %}
        <div class="col-1">
          <a href="{% url 'dictionary:definition-update' definition_object.id %}">
            <input class="btn btn-outline-secondary" type="button" value="Edit">
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="div-eng-ex">
      <p class='examples-heading'><strong>Examples:</strong></p>
      <ul class='examples-list'>
        {% for example_object in examples %}
        {% if example_object.definition_id == definition_object.id %}
        <div class="row px-3 row-eng-ex">
          <div class="col col-eng-ex">
            <li><i>{{ example_object.english_example }}</i></li>
          </div>
          {% if user.is_authenticated %}
          <div class="col-1 gy-1">
            <a href="{% url 'dictionary:example-update' example_object.id %}">
              <input class="btn btn-outline-secondary" type="button" value="Edit">
            </a>
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="div-osh-def">
      <p class='definitions-heading'><strong>Efatululo mOshindonga:</strong></p>
      <div class="row px-3 row-osh-def">
        <div class="col col-osh-def">
          <p>>{{ definition_object.oshindonga_definition }}</p>
        </div>
        {% if user.is_authenticated %}
        <div class="col-1">
          <a href="{% url 'dictionary:definition-update' definition_object.id %}">
            <input class="btn btn-outline-secondary" type="button" value="Edit">
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="div-osh-ex">
      <p class='examples-heading'><strong>Iiholelwa:</strong></p>
      <ul class='examples-list'>
        {% for example_object in examples %}
        {% if example_object.definition_id == definition_object.id %}
        <div class="row px-3 row-osh-ex">
          <div class="col col-osh-ex">
            <li><i>{{ example_object.oshindonga_example }}</i></li>
          </div>
          {% if user.is_authenticated %}
          <div class="col-1 gy-1">
            <a href="{% url 'dictionary:example-update' example_object.id %}">
              <input class="btn btn-outline-secondary" type="button" value="Edit">
            </a>
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor%}
  </div>
</div>
{% endblock %}
{% block rightbar %}
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Top contributors
  </div>
  {% if top_contributors %}
  <ol>
    {% for contributor in top_contributors %}
    <li>
      <button type="button" class="btn btn-primary mt-1">{{ contributor.1 }}<span
          class="badge badge-light ml-1">{{ contributor.0 }}</span>
      </button>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
</div>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Listed entries
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a class="btn btn-outline-primary btn-sm mb-1"
        href="{% url 'dictionary:english-words' %}">All English words</a></li>
    <li class="list-group-item"><a class="btn btn-outline-primary btn-sm mb-1"
        href="{% url 'dictionary:oshindonga-words' %}">All Oshindonga
        words</a></li>
    <li class="list-group-item"><a class="btn btn-outline-primary btn-sm mb-1"
        href="{% url 'dictionary:oshindonga-idioms' %}">All Oshindonga
        idioms</a></li>
    <li class="list-group-item"><a class="btn btn-outline-primary btn-sm mb-1"
        href="{% url 'dictionary:oshindonga-phonetics' %}">All Oshindonga
        phonetics</a></li>
  </ul>
</div>
{% endblock %}