{% extends "dictionary/search.html" %}
{% block welcome %}
<br>
  <h3>Contribute to the dictionary by adding a new definition or updating an existing one.</h3>
  <br>
  <h4>Not sure how to go about it? <a href='#'>Read the instructions here.</a></h4>
  <hr>
  <br>
{% endblock %}

{% block centre %}
<h5>{{ operation }}</h5>
<br>
<form action="" method="post">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  {{form.errors}}
  <div>
    <label for="{{ form.word_pair.id_for_label }}">Word pair:</label>
    {{ form.word_pair }}
  </div>
  <div>
    <label for="{{ form.part_of_speech.id_for_label }}">Part of speech:</label>
    {{ form.part_of_speech }}
  </div>
  <div style="display: none;" id="plural">
    <label for="{{ form.plural.id_for_label }}">Plural (Oshindonga):</label>
    {{ form.plural }}
  </div>
  <div style="display: none;" id="tense">
    <label for="{{ form.tense.id_for_label }}">Tenses (Oshindonga):</label>
    {{ form.tense }}
  </div>
  <div>
    <label for="{{ form.variants.id_for_label }}">Variants (Oshindonga):</label>
    {{ form.variants }}
  </div>
  <div>
    <label for="{{ form.english_definition.id_for_label }}">English definition:</label>
    {{ form.english_definition }}
  </div>
  <div>
    <label for="{{ form.oshindonga_definition.id_for_label }}">Oshindonga definition:</label>
    {{ form.oshindonga_definition }}
  </div>
  <input class="btn btn-outline-primary" type="submit" value="Submit">
  <!-- <table>
    <tr>
      <td> <label for="{{ form.word_pair.id_for_label }}">Word pair:</label></td>
      <td>{{ form.word_pair }}</td>
    </tr>
    <tr>
      <td><label for="{{ form.part_of_speech.id_for_label }}">Part of speech:</label></td>
      <td>{{ form.part_of_speech }}</td>
    </tr>
    <tr style="display: none;" id="plural">
      <td><label for="{{ form.plural.id_for_label }}">Plural:</label></td>
      <td>{{ form.plural }}</td>
    </tr>
    <tr style="display: none;" id="tense">
      <td><label for="{{ form.tense.id_for_label }}">Tenses:</label></td>
      <td>{{ form.tense }}</td>
    </tr>
    <tr>
      <td><label for="{{ form.variants.id_for_label }}">Variants(Oshindonga):</label></td>
      <td>{{ form.variants }}</td>
    </tr>
    <tr>
      <td><label for="{{ form.english_definition.id_for_label }}">English definition:</label></td>
      <td>{{ form.english_definition }}</td>
    </tr>
    <tr>
      <td><label for="{{ form.oshindonga_definition.id_for_label }}">Oshindonga definition:</label></td>
      <td>{{ form.oshindonga_definition }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>   -->
</form>
{% endblock %}

{% block right %}
<h6>Undefined words:</h6>
<ul class='undefined-words'>
    <li class='undefined'><a href='#'>building</a></li>
    <li class='undefined'><a href='#'>geology</a></li>
    <li class='undefined'><a href='#'>computer</a></li>
    <li class='undefined'><a href='#'>solar</a></li>
</ul>
{% endblock %}