{% extends "base.html" %} <br /><br />
{% block content%}
<div class="row">
	<div class="col-md-6">
		{% if validlink %}
		<p>Please enter (and confirm) your new password.</p>
		<div class="form-group">
			<form action="" method="post">
				{% csrf_token %} {{ form.new_password1.errors }}
				<label for="id_new_password1">New password:</label>
				<input
					class="form-control form-control-lg mb-3"
					type="password"
					name="new_password1"
					autocomplete="new-password"
					required
					id="id_new_password1"
				/>
				{{ form.new_password2.errors }}
				<label for="id_new_password2">Confirm password:</label>
				<input
					class="form-control form-control-lg mb-3"
					type="password"
					name="new_password2"
					autocomplete="new-password"
					required
					id="id_new_password2"
				/>
				<input
					class="btn btn-outline-primary mb-3"
					type="submit"
					value="Change my password"
				/>
			</form>
		</div>
		{% else %}
		<h1>Password reset failed</h1>
		<p>
			The password reset link was invalid, possibly because it has already been
			used. Please request a new password reset.
		</p>
		{% endif %}
	</div>
</div>
{% endblock %}
