{% extends "equeue/services.html" %}
{% block welcome %}
<br>
<h2>My Queues Page</h2>
<h4>Welcome, <strong>{{ request.user }}</strong>! Below are the queues you were registered to serve @ <strong>{{servant_enrolments.0.service_provider.short_name}}</strong>.</h4>
<br><br><br>
<hr>
{% endblock %}

{% block content%}
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Service</th>
      <th scope="col">Total in queue</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for servant_enrolment in servant_enrolments %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{servant_enrolment.service_enrolment.service}}</td>
      <td>{% if servant_enrolment.service_enrolment_id in eligible_queue_ids %} {{servant_enrolment.service_enrolment_id.count}} 
        {% else %}0{%endif%}
      </td>
      <td><a class="btn btn-primary" href="{% url 'equeue:serve-customers' servant_enrolment.service_enrolment.id %}" role="button">Serve Customers</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination pagination-lg justify-content-center">
  <span class="page-link">
    <!-- step-link from django change to page-link  bootstrap class -->
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}

