{% extends "equeue/services.html" %}
{% block welcome %}
<br>
<h2>Service queues</h2>
<h3>You're at the queue page for {{service}} provided by {{service_provider}}.</h3>
<br><br><br>
<hr>
{% endblock %}

{% block content %}
<!-- Join Queue Modal -->
<div class="modal fade" id="joinQueueAlert" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="joinQueueAlertLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinQueueAlertLabel">Join Queue Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if join_message == 'Success' %}
                <div class="alert alert-success" role="alert">
                    You've been sucessfully added to the queue for {{service}} @
                    {{service_provider.short_name}}.
                </div>
                {% else %}
                <div class="alert alert-danger" role="alert">
                    Sorry, you're already queued for this service.
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    id="closeJoinQueueAlert">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->
<!-- Exit Queue modal -->
<div class="modal fade" id="exitQueueAlert" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exitQueueAlertLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exitQueueAlertLabel">Exit Queue Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    You've chosen to exit the queue for {{service}} @ {{service_provider.short_name}}. Do you want to
                    proceed with
                    this action?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="exitQueueButton">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    id="closeExitQueueAlert">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->

<div class="row ">
    <div class="col">
        <div class="card">
            <div class="card-header" style="font-weight: bold">{% if service_provider.logo %}<img
                    src="{{ service_provider.logo.url }}" class="rounded-circle" width="45" height="45"
                    alt="logo">{% endif %}
                Current queue for <strong>{{service}}</strong> @ <strong>{{service_provider.short_name}}</strong>
            </div>
            {% if there_is_queue %}
            <ul class="list-group list-group-flush">
                {% for customer in current_queue %}
                <li class="list-group-item">{{forloop.counter}}. {{ customer.customer }}
                    {% if user.id == customer.customer.id %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        data-target="#exitQueueAlert">
                        Exit queue
                    </button></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> This queue is empty. Click <strong>Join</strong> to start the queue.</li>
            </ul>
            {% endif %}
            {% if is_paginated %}
            <div class="card-body justify-content-center">
                <div class="pagination pagination-lg justify-content-center">
                    <span class="page-link">
                        <!-- step-link from django change to page-link  bootstrap class -->
                        {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            {% endif %}
            <div class="card-footer text-muted">
                <h6 class="float-right">Total in Queue <span class="badge badge-info">{{ queued_users|length }}</span>
                </h6>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card border-danger" style="width: 18rem;">
            <div class="card-header">
                Next Customer
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-white bg-danger">{% if there_is_queue %}
                    {{ current_queue.0.customer }}{% else %} The queue is empty {% endif %}</li>
            </ul>
        </div>

        <br>

        <div class="card border-success" style="width: 18rem;">
            <div class="card-header">
                Current Customer
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-white bg-success">Customer 0{{ current_customer }}</li>
            </ul>
        </div>

        <br>
        {% if user not in queued_users %}
        <form method="POST" action="">
            {% csrf_token %}
            <div class="card border-primary text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Join The Queue</h5>
                    <p class="card-text"></p>
                    <input class="btn btn-lg btn-primary" type="submit" value="Join">
                </div>
            </div>
        </form>
        {% endif %}
        <br>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg ml-2" data-toggle="modal" data-target="#requirementsModal">
            View service requirements
        </button>

        <!-- Modal -->
        <div class="modal fade" id="requirementsModal" tabindex="-1" aria-labelledby="requirementsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="requirementsModalLabel">Requirements for
                            {{service}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ requirements }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
    $('#requirements').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
{% if join_message != None %}
<script>
    // Join queue
    $('#joinQueueAlert').modal('show') // Show join queue alert modal

    var queueUrl = "{% url 'equeue:queues' service_enrolment.id %}"

    function refreshQueue(event) {
        window.location.href = queueUrl;
    }

    var joinButton = document.getElementById("closeJoinQueueAlert"); // Find the modal button element in the page
    joinButton.onclick = refreshQueue; // Add onclick function to element    
</script>
{% endif %}
<script>
    // Exit queue
    var exitQueueUrl = "{% url 'equeue:exit-queue' service_enrolment.id %}"

    function exitQueue(event) {
        window.location.href = exitQueueUrl;
    }

    var exitButton = document.getElementById("exitQueueButton"); // Find the modal button element in the page
    exitButton.onclick = exitQueue;
</script>
{% endblock %}